# DEBUT DECT NR+ Module board configuration

# Copyright (c) 2025 PHYTEC Messtechnik GmbH
#
config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

if CONFIG_BOARD_DEBUT_MODULE_NRF9151_NS || CONFIG_BOARD_DEBUT_MODULE_NRF9151

config BOARD_DEBUT_MODULE
	select USE_DT_CODE_PARTITION if BOARD_DEBUT_MODULE_NRF9151_NS

config BT_HCI_VS
	default y if BT

endif # BOARD_DEBUT_MODULE_NRF9151_NS || CONFIG_BOARD_DEBUT_MODULE_NRF9151
